<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me Page</title>
</head>
<body>
    <div>
        <h1>Contact Me from FBV</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minima ad expedita voluptates cupiditate adipisci illum vitae in natus autem nesciunt provident sed distinctio quos deleniti, neque eligendi excepturi rem est asperiores! Doloremque sapiente quasi nihil? Facilis inventore minus debitis nemo eos quisquam incidunt doloribus, placeat vitae beatae molestiae quia pariatur soluta.</p>
        <div>
            <span><strong>Name: </strong> {{ name }}</span>
            <span><strong>Address: </strong> {{ address }}</span>
            <span><strong>Email: </strong> {{ email }}</span>
        </div>
    </div>
</body>
</html>