<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <h1>Home Page View</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloribus, praesentium non voluptas veniam dicta veritatis quo ea voluptate velit. Culpa numquam doloribus quibusdam quidem quae soluta corporis placeat ipsa facere deserunt laboriosam suscipit, mollitia a illo earum expedita aut accusamus ad quaerat voluptatibus eaque consequatur enim! Natus cupiditate, voluptatem, architecto autem vel ipsa iusto perspiciatis sint, nihil modi omnis quaerat quibusdam veniam deleniti libero consequatur eaque id beatae amet expedita.</p>
        <div>
            <span><strong>Name: </strong> {{ name }}</span>
            <span><strong>Address: </strong> {{ address }}</span>
            <span><strong>Email: </strong> {{ email }}</span>
        </div>
    </div>
</body>
</html>